<!DOCTYPE HTML>
<html>
<head>

	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    {% if title %}
    <title>{{title}} - Adressbuch</title>
    {% else %}
    <title>Adressbuch</title>
    {% endif %}
  </head>
  <body>
	 <div id="page">
    <div>Adressbuch: <a href="/">Start</a> &mdash; {% if session['username'] %}<a href="/edit">Einträge verwalten</a> &mdash; <a href="/logout">Ausloggen</a><div style="display:inline;float:right;"><form class='searchform' name='search' method='get' action='/search'>{{searchform.searchfield(size=10, placeholder='suchen ...')}}</form> <strong>Hallo, {{session['username']}}!</strong> (<a href="/profile">Passwort ändern</a>)</div> {% else %} <a href="/login">Einloggen</a><div style="display:inline;float:right;"><form class='searchform' name='search' method='get' action='/search'>{{searchform.searchfield(size=10, placeholder='suchen ...')}}</form> </div>{% endif %} </div>
    <hr style='margin-top:20px;'>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
   
    {% for category, message in messages %}
     <ul class="{{category}}">
        <li>{{ message }}</li>
         </ul>
    {% endfor %}
   
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
	</div>
  </body>
</html>